# Byte-compiled / cache files
__pycache__/
*.py[cod]
*.pyo

# Virtual environments
.env/
venv/
ENV/

# IDEs and editors
.vscode/
.idea/
*.swp

# OS-specific files
.DS_Store
Thumbs.db

# Logs and temp files
*.log
*.tmp

# Jupyter notebooks checkpoints
.ipynb_checkpoints/

# Data files
data/
*.csv
*.h5
